#searchBar{
    position: relative;
}

.searchIconContainer{
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 12px;
    top: 0;
    bottom: 0;
}
.searchIconContainer i{
   font-size: 14px;
}

#history-container{
    background: #F8F8F8;
    padding: 30px;
    border-radius: 12px;
    position: sticky;
}
.history-title{
    font-size: 24px;

}

.marginR12{
    margin-right: 12px;
}